In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Creating a dataframe that has the following columns:
# 1. playID
# 2. nflID of tackler who made tackle for each playID
# 3. name of tackler who made tackle for each playID
# 4. Ball-carrier for each playID


#Import Data
games = pd.read_csv('../games.csv')
playerData = pd.read_csv('../players.csv')
tackleData = pd.read_csv('../tackles.csv')
#tracking1 = pd.read_csv('../tracking_week_1data.csv')


li = []

for i in range(9):
    string = '../tracking_week_' + str(i + 1) + 'data.csv'
    track = pd.read_csv(string)
    li.append(track)
    
trackingdata = pd.concat(li, axis=0, ignore_index=True)

trackingdata.head(10)
plays = pd.read_csv("../plays.csv")

In [5]:
trackingdata.head(10)

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022090800,56,35472.0,Rodger Saffold,1,2022-09-08 20:24:05.200000,76.0,BUF,left,88.37,27.27,1.62,1.15,0.16,231.74,147.90,NaN
1,2022090800,56,35472.0,Rodger Saffold,2,2022-09-08 20:24:05.299999,76.0,BUF,left,88.47,27.13,1.67,0.61,0.17,230.98,148.53,pass_arrived
2,2022090800,56,35472.0,Rodger Saffold,3,2022-09-08 20:24:05.400000,76.0,BUF,left,88.56,27.01,1.57,0.49,0.15,230.98,147.05,NaN
3,2022090800,56,35472.0,Rodger Saffold,4,2022-09-08 20:24:05.500000,76.0,BUF,left,88.64,26.90,1.44,0.89,0.14,232.38,145.42,NaN
4,2022090800,56,35472.0,Rodger Saffold,5,2022-09-08 20:24:05.599999,76.0,BUF,left,88.72,26.80,1.29,1.24,0.13,233.36,141.95,NaN
5,2022090800,56,35472.0,Rodger Saffold,6,2022-09-08 20:24:05.700000,76.0,BUF,left,88.80,26.70,1.15,1.42,0.12,234.48,139.41,pass_outcome_caught
6,2022090800,56,35472.0,Rodger Saffold,7,2022-09-08 20:24:05.799999,76.0,BUF,left,88.87,26.64,0.93,1.69,0.09,235.77,134.32,NaN
7,2022090800,56,35472.0,Rodger Saffold,8,2022-09-08 20:24:05.900000,76.0,BUF,left,88.91,26.59,0.68,1.74,0.07,240.00,131.01,NaN
8,2022090800,56,35472.0,Rodger Saffold,9,2022-09-08 20:24:06.000000,76.0,BUF,left,88.94,26.57,0.42,1.74,0.04,243.56,122.29,NaN
9,2022090800,56,35472.0,Rodger Saffold,10,2022-09-08 20:24:06.099999,76.0,BUF,left,88.95,26.58,0.14,1.83,0.01,246.07,85.87,NaN

In [2]:
#Concrete Stats for each tackle
ball_carrier = pd.DataFrame(plays.loc[:, ['playId', 'ballCarrierId', 'gameId', 'down', 'yardsToGo']])
ball_carrier['timeLeft'] = ((4 - plays['quarter']) * 15 + plays['gameClock'].str[:-3].astype(int)).astype(str) + plays['gameClock'].str[-3:]
ball_carrier['scoreDif'] = plays['preSnapHomeScore'].sub(plays['preSnapVisitorScore'])
ball_carrier['endZoneDistance'] = 100 - plays['absoluteYardlineNumber'] - plays['playResult']
ball_carrier['yardsto1st'] = plays['yardsToGo'] - plays['playResult']
tackler = pd.DataFrame(tackleData.loc[:, ['playId', 'nflId', 'gameId']])
name = pd.DataFrame(playerData.loc[:, ['nflId', 'displayName']])

df = pd.merge(ball_carrier, tackler, on=('playId', 'gameId'))
df = pd.merge(df, name, on='nflId')

df.head(10)

,playId,ballCarrierId,gameId,down,yardsToGo,timeLeft,scoreDif,endZoneDistance,yardsto1st,nflId,displayName
0,3537,48723,2022100908,1,10,7:52,14,22,1,43306,Keanu Neal
1,84,47853,2022110609,2,10,59:50,0,12,5,43306,Keanu Neal
2,1016,53555,2022102301,1,10,41:29,0,31,1,43306,Keanu Neal
3,879,52460,2022110609,3,1,45:58,3,6,-1,43306,Keanu Neal
4,97,46155,2022102700,1,10,59:18,0,42,5,43306,Keanu Neal
5,1557,54604,2022102700,2,9,34:18,7,19,-3,43306,Keanu Neal
6,1410,47853,2022110609,1,10,39:21,-4,75,6,43306,Keanu Neal
7,1943,53453,2022101607,3,10,30:36,4,3,9,43306,Keanu Neal
8,1451,41325,2022100213,3,1,35:56,-11,24,1,43306,Keanu Neal
9,2400,47853,2022110609,1,10,26:22,-1,24,0,43306,Keanu Neal

In [3]:
#Season tackling stats of each player
playerData = pd.read_csv("../players.csv")
tackleData = pd.read_csv("../tackles.csv")

tackles = {}

for row in range(len(playerData)):
    tackles[playerData.loc[row][0]] = [playerData.loc[row][0], 0, 0, 0, 0]


for row in range(len(tackleData)):
    if tackleData.loc[row][3] == 1:
        tackles[tackleData.loc[row][2]][1] = (tackles[tackleData.loc[row][2]][1] + 1)
    if tackleData.loc[row][4] == 1:
        tackles[tackleData.loc[row][2]][2] = (tackles[tackleData.loc[row][2]][2] + 1)
    if tackleData.loc[row][5] == 1:
        tackles[tackleData.loc[row][2]][3] = (tackles[tackleData.loc[row][2]][3] + 1)
    if tackleData.loc[row][6] == 1:
        tackles[tackleData.loc[row][2]][4] = (tackles[tackleData.loc[row][2]][4] + 1)
newTackles = pd.DataFrame(tackles)
newTackles = newTackles.transpose()
newTackles.rename(columns = {0:'nflId', 1:'Tackles', 2:'Assists', 3:'Forced Fumbles', 4:'Missed Tackles'}, inplace = True)
#newTackles.head()

merged = pd.merge(playerData, newTackles, on='nflId')
merged.head(100)

,nflId,height,weight,birthDate,collegeName,position,displayName,Tackles,Assists,Forced Fumbles,Missed Tackles
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady,0,0,0,0
1,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters,0,0,0,0
2,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers,0,0,0,0
3,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis,0,0,0,0
4,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
95,40024,6-2,211,1992-04-27,California,WR,Keenan Allen,0,0,0,0
96,40026,5-9,179,1990-11-19,Texas,WR,Marquise Goodwin,0,0,0,0
97,40030,6-3,327,1989-07-11,Georgia,NT,John Jenkins,2,6,0,0
98,40031,5-11,195,1991-02-09,Rutgers,FS,Logan Ryan,5,4,1,0
99,40039,6-1,205,1991-01-24,Rutgers,SS,Duron Harmon,24,12,1,6

In [4]:
#Distance between players for each tackle
tacklesDist = pd.DataFrame(df.loc[:, ['gameId', 'playId', 'nflId','ballCarrierId']])

#print(tracking1.loc[tracking1['gameId', 'playId'] == tacklesDist['gameId', 'playId']])

#print(tracking1[((tracking1['gameId'] == tacklesDist['gameId']) & (tracking1['playId'] == tacklesDist['playId']))])
print(tacklesDist)

           gameId  playId  nflId  ballCarrierId
0      2022100908    3537  43306          48723
1      2022110609      84  43306          47853
2      2022102301    1016  43306          53555
3      2022110609     879  43306          52460
4      2022102700      97  43306          46155
...           ...     ...    ...            ...
17421  2022101607    3790  52904          54556
17422  2022100905    1945  55030          53549
17423  2022110604    3201  48508          47807
17424  2022103000     779  48308          53454
17425  2022100912    2514  44838          47911

[17426 rows x 4 columns]

In [1]:
from sklearn.cluster import KMeans
from sklearn import preprocessing
import matplotlib.pyplot as plt

x_train = df.loc[:, ['yardsToGo','scoreDif', 'timeLeft']]

yards_norm = preprocessing.normalize(x_train)

kmeans = KMeans(n_clusters = 3, random_state = 0, n_init='auto')
kmeans.fit(x_train)

plt.scatter(x=df['nflId'], y=df['displayName'], c=kmeans.labels_)
plt.show()

NameError: name 'df' is not defined